.EventsOP {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.group {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.item {
    width: 15vw;
    height: 75vh;
    background-position: center;
    background-size: 75vh;
    margin: 0;
    padding: 0;
    border-radius: 3vw;
    display: inline-block;
    cursor: pointer;
}