@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap');


  .event-wrapper{
    position: relative;
    padding-bottom: 56.25125%;
    height: 0;
    max-height: 100vh;
  }
  .event-hero {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    /* min-height:200px; */
    background-color:#999;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    overflow:hidden;  
    animation: fader 20s ease  infinite; 
    
  }
  .event-hero:before{
    content:" ";
    position:absolute;
    width:100%;
    height:100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 90%,rgba(0,0,0,0.65) 100%);
    z-index:0
  }
  @keyframes fader {
    0%,30%,100%{ background-image:url('../images/e1.JPG')}
    33%,60% { background-image: url('../images/e1.JPG'); }
    63%,97% { background-image: url('../images/e1.JPG') }
  }
  .hero h1{
    padding:.5em;
    width:50%;
    min-width:190px;
    position:absolute;
    bottom:15%;
  }
  .event-hero a{
    text-decoration:none;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    background:#fff;
    /* margin-bottom: 4rem; */
    padding:0.12em 0.5em;
    font-family: share;
    font-size: calc(2vw + 1vh + 3.5vmin);  
    line-height:calc(1vw + 1vh + 6.5vmin);
    color:#000;
    text-transform:uppercase;
    mix-blend-mode:screen;
    transition:all 0.4s
  }
  .event-hero a:hover{
    line-height:1.3em;
    /* mix-blend-mode:exclusion; */
  }
  .event-container{
    padding:0.1em 1em;
    text-align:justify;
    line-height:1.5em;
    letter-spacing:0.02em;
    background:#fff;
    margin:1em
  }
  
  .heading1>h1{
    font-size: 3rem;
    margin-top: 6rem;
    color: #999;
    font-family: 'Cormorant Infant', serif;
  }
  .heading1{
    margin: 0 4rem;
  }
  .event-hero>h1{
    position: relative;
    bottom: 0;
  }
  .event-h1{
    margin-top:20% ;
  }
  


  /* SDV Design */
  @import url("https://fonts.googleapis.com/css?family=Arvo");

@supports (display: grid) {
  body,
html {
    display: block;
  }
}

.message {
  border: 1px solid #d2d0d0;
  padding: 2em;
  font-size: 1.7vw;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
}
@supports (display: grid) {
  .message {
    display: none;
  }
}

.sdvSection {
  display: none;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  .sdvSection {
    padding: 4rem;
  }
}
@supports (display: grid) {
  .sdvSection {
    display: block;
  }
}


.sdv-grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
}

.sdv-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: sdv-sdv-item-counter;
}
.sdv-item:nth-of-type(1n) {
  background-image: url("../images/sdv3.JPG");
}
.sdv-item:nth-of-type(2n) {
  background-image: url("../images/sdv6.JPG");
}
.sdv-item:nth-of-type(3n) {
  background-image: url("../images/sdv2.JPG");
}
.sdv-item:nth-of-type(4n) {
  background-image: url("../images/sdv1.JPG");
}
.sdv-item:nth-of-type(5n) {
  background-image: url("../images/sdv4.JPG");
}
.sdv-item:nth-of-type(6n) {
  background-image: url("../images/sdv5.JPG");
}
.sdv-item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
.item:hover {
  transform: scale(1.05);
}
.item:hover:after {
  opacity: 0;
}
.item--medium {
  grid-row-end: span 2;
}
.item--large {
  grid-row-end: span 3;
}
.item--full {
  grid-column-end: auto;
}
@media screen and (min-width: 768px) {
  .sdv-item--full {
    grid-column: 1/-1;
    grid-row-end: span 2;
  }
}
.sdv-item__details {
  position: relative;
  z-index: 1;
  padding: 15px;
  color: #444;
  background: #fff;
  text-transform: lowercase;
  letter-spacing: 1px;
  color: #828282;
}
.sdv-item__details:before {
  content: counter(sdv-item-counter);
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 0.5em;
  color: #444;
}

/*Drag and Drift*/

@import url("https://fonts.googleapis.com/css?family=Arvo");

.DandD-section {
  display: none;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  .DandD-section {
    padding: 4rem;
  }
}
@supports (display: grid) {
  .DandD-section {
    display: block;
  }
}



.DandDgrid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background: url("../images/dd2.JPG");
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;
}
.item:nth-of-type(3n) {
  background-image: url("../images/dd1.JPG");
}
.item:nth-of-type(4n) {
  background-image: url("../images/dd3.JPG");
}
.item:nth-of-type(5n) {
  background-image: url("../images/dd4.JPG");
}
.item:nth-of-type(6n) {
  background-image: url("../images/dd5.JPG");
}
.item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
.item:hover {
  transform: scale(1.05);
}
.item:hover:after {
  opacity: 0;
}
.item--medium {
  grid-row-end: span 2;
}
.item--large {
  grid-row-end: span 3;
}
.item--full {
  grid-column-end: auto;
}
@media screen and (min-width: 768px) {
  .item--full {
    grid-column: 1/-1;
    grid-row-end: span 2;
  }
}
.item__details {
  position: relative;
  z-index: 1;
  padding: 15px;
  color: #444;
  background: #fff;
  text-transform: lowercase;
  letter-spacing: 1px;
  color: #828282;
}
.item__details:before {
  content: counter(item-counter);
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 0.5em;
  color: #444;
}
