/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    background-color: rgba(235, 195, 52,0.2);
   
}

.container-fluid{
    margin: 0 auto;
    max-width: 1000px;
    padding: 30px 20px;
    padding-top: 60px;
    text-align: center;

}

.container .center{
    text-align: center;
}


.center h1{
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 20px;
    color:rgb(249, 0, 0);

   
}

.our-team-text{
    margin: 0 auto;
    max-width: 700px;
    line-height: 1.8;
    color: #fa0808;
    margin-bottom: 40px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    /* padding-left: 8%; */
}

.card{
    background-color: #f9f2f2;
    border-radius: 10px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 30px;
}

.card .card-name{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    color: #fa0808;
}

.card .card-text{
    font-size: 16px;
    color: #888;
    margin-bottom: 40px;
    text-align:center;
}

.card .btn{
    padding: 15px 60px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    border-radius: 50px;
    text-decoration: none;
    color: #000;
    transition: 0.3s ease;
}

.card .btn:hover{
    box-shadow: -2px -2px rgba(0,0,0,0.3);
    transform: translateY(-5px);
}

@media screen and (max-width: 700px) {
    .cards{
        grid-template-columns: 1fr;
    }
}
