footer{
    background:linear-gradient(to right,#02040f,#2d0b00);
    padding-bottom:2rem;
    color: #f7f7f7;
    margin:0;
    padding-top: 2rem;
    height: 55vh;
    font-size: medium;
    padding-left: 5rem;
    padding-right: 2rem;
    
}

.fsize{
    height: 30px;
    width: 30px;
    margin: 4px;

}
.fa{
    margin-right: 4px;
}


.ficons{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.ficons:hover{
    transition: 3ms;
}

.flogo-size{
    width: 180px;
    height: 100px;
}
.flogo{
    width: 100px;
    margin:  30px;
}

.footer{
    color: grey;
}

.femail{
    color: white;

}

.femail:hover{
    color: grey;
    text-decoration: underline;
    text-underline-position: initial;

}

.fuse-links{
    line-height: 32px;
    padding-top:0rem;
    margin-top: 0;
    color: grey;
    
    

}

.fuse-links  li:hover{
    color: grey;
    
}

&#x27a4{
    padding: 4px;
}



ul li{
    list-style: none;

}

.ul li a a{
    margin: 3px;
}

.frow{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.fcol{
    top: 0;
    flex-basis:25% ;
    padding: 5px;

}

.fcol1{
    top: 0;
    flex-basis: 25%;
    padding: 10px;
    left: 0;
}

.foffice{
    top: 0;
    flex-basis: 25%;
    padding: 2px;
    left: 0;
}

.ul li a a{
    margin: 2px;
}


.fh4{
    color: rgba(255,0,0);
}

.fh5{
    color: rgba(255,0,0);
    margin: 0px;

}


section#fcopy-right{
    height: 7vh;
}


.fcopy-right-sec{
    padding: 0.8rem;
    background: black;
    color: #fff;
    text-align: center;
}
.fcopy-right-sec a{
    color: #ee6969;
    font-weight: 500;
}
a{
  text-decoration:none;
}

@media screen and (max-width: 850px){

   .footercontent{
     display: flex;
     flex-direction: column;
     
   
   }
   #footer{
    height: auto;
    
   }

}
       



