.tedNavbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #151719;
    overflow: hidden;
    z-index: 9999;
    margin-right: 5rem;
    width: 100%;
  }
 
  .tedNavbar> a{
    font-weight: 700;
    font-size: 31px;
    margin: 15px;
    color: #ffffff;
  }
  .nav-logo{
    font-weight: 100;
    font-size: 25px;
    margin: 15px;
    color: #ffffff;
  }
  .nav-logo > img{
    width: 10rem;
  }
  #header-logo{
    height: 10%;
    
  }
  @media (max-width: 450px){
    .nav-logo > img{
      width: 6rem;
    } 
  }
  
  .tedNavbar>.nav-items>a {
    color: #ff2b06;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    margin: 35px;
    position: relative;
    opacity: 0.9;
  }
  
  .ted-Navbar>.nav-items>a:hover {
    opacity: 1;
  }
  
  .tedNavbar>.nav-items>a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #ff2b06;
    transition: all 0.45s;
  }
  
  .tedNavbar>.nav-items>a:hover::before {
    width: 100%;
  }
  
  .tedNavbar>.nav-toggle {
    display: none;
  }
  
  @media (max-width: 700px) {
    .tedNavbar {
      z-index: 9999;
      height: 100%;
      margin-right: 0;
    }
  
    .tedNavbar>.nav-items {
  
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 9999;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      background-color: black;
      transition: 0.5s;
      transform: translateY(-100%);
    }
  
    .tedNavbar>.nav-items>a::before {
      background: transparent;
    }
    .tedNavbar > .nav-items > .active {
        color: #ff2b06;
        font-size: 24px;
      }
      
  
    .tedNavbar>.nav-items.open {
      transform: translateY(0);
    }
  
    .tedNavbar>.nav-toggle {
      display: flex;
      width: 50px;
      height: 50px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 9999;
    }
  
    .nav-toggle>.bar {
      position: relative;
      width: 32px;
      height: 2px;
      background: #ffffff;
      transition: all 0.45s ease-in-out;
    }
  
    .nav-toggle>.bar::before,
    .nav-toggle>.bar::after {
      content: "";
      position: absolute;
      height: 2px;
      background: #ff2b06;
      border-radius: 2px;
      transition: all 0.45s ease-in-out;
    }
  
    .nav-toggle>.bar::before {
      width: 25px;
      transform: translateY(-8px);
      right: 0;
    }
  
    .nav-toggle>.bar::after {
      width: 32px;
      transform: translateY(8px);
    }
  
    .nav-toggle.open>.bar {
      transform: translateX(-40px);
      background: transparent;
    }
  
    .nav-toggle.open>.bar::before {
      width: 32px;
      transform: rotate(45deg) translate(26px, -26px);
    }
  
    .nav-toggle.open>.bar::after {
      transform: rotate(-45deg) translate(26px, 26px);
    }
  
  
  }