#baha{
    height: 100%;
    width: 80%;
    border-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 20px;
    /* margin-bottom:150px; */
}
#img-container{
   display: flex;
 
 justify-content: center;
}
#baha-container{
    width: 75%;
    margin: auto;
    margin-bottom:50px;
}

#heading-baha{
    text-align: center;
    display: block;
    margin: auto;
    color: rgb(242, 240, 240);
    margin-bottom: 30px;
    font-size: 3rem;
    
}
#baha-para{
    width: 100%;
    
}
#button-baha{
    background-color: rgb(228, 10, 10);
    color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}
#button-baha:hover{
    background-color: pink;
    color: black;

}
/* #baha:hover{
     transform: scale(1.2);
     transition: all 0.5s ease;
     
} */

@media  screen and (max-width: 992px) {
    #heading-baha{
        font-size: 30px;
    }
    #baha{
        height: 100%;
        width: 100%;
    }
    #button-baha{
        margin: 0px;
        margin-top: 5px;
    }
}