#Video-Heading{
    display: block;
    margin: auto;
    align-items:center;
    text-align: center;
}
@media  screen and (max-width: 992px) {
    #Video-Heading{
        padding-top: 10px;
        font-size: 30px;
    }
}