
#tedx-link{
    color: rgb(25, 119, 227);
    font-weight: bolder;
}
#Arhn-link{
    color: rgb(25, 119, 227);
    font-weight: bolder; 
}
@media only screen and (max-width:667px) {
    #split-box{
        margin-bottom: 0px;
        margin-top:0px;
    }
}