/* 
.profile__img {
     padding: 10px 30px; 
  
  }
  
  .profile__img .hjgf {
    margin: 2% 4%;
    float: left;
    height: 250px;
    
  }
  
  .profile__text{
      text-align: left;
      padding: 0 5% 5%;
  }
  .headingss{
      text-align: center;
  }

  .divss{
    margin-top: 10%;
  }

   */

   .arhn_about
   {
    margin-top: 10%;
   }


   .arhn_upper,
   .arhn_lower {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     margin-bottom: 1rem;
   }
   .arhn_logo {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
   }
   #arhn_logo {
     width: 90%;
   }
   .arhn_image {
     background-image:unset;
     background-size: cover;
     width: 30rem;
     height: 26rem;
     display: flex;
     align-items: center;
     border-radius: 50%;
   }
   .arhn_camp {
     position: relative;
     top: 2.6rem;
     left: 7.3rem;
   }
   #arhn_tent {
     width:90%;
     border-radius:10px;
   }
   #arhn_fire {
     width: 15%;
     position: relative;
     top: 1rem;
     right: 1rem;
   }
   .arhn_info {
     width: 40%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 0rem 2rem;
     border-radius: 10px;
     margin-left: 50px;
   }
   
   .arhn_info h1 {
     color: red;
     font-family: 'Poppins', sans-serif;
     font-size: 2rem;
     margin-left: 20px;
       }
   .arhn_head1 {
     text-decoration: rgb(223, 9, 9);
   }
   .arhn_info p {
   font-size: 1.2rem;
   font-family: 'Lato', sans-serif;
   margin-left: 20px;
   }

   .arhn_slider {
    display: flex;
    align-items: center;
    padding-top: 3.5rem;

  }
  .arhn_slider img {
    width: 30rem;
    height: 26rem;
    border-radius:20px;
  }
  .arhn_camp img {
    width: 32rem;
    height: 26rem;
    border-radius:20px;
  }

  @media (max-width: 768px) {
    .arhn_upper {
      flex-direction: column;
      margin-bottom: 0rem;
    }
    #arhn_logo {
      width: 50%;
    }
    .arhn_image {
      width: 18rem;
      height: 14rem;
    }
    .arhn_camp {
      top: 1.2rem;
      left: 1.3rem;
    }
    .arhn_info {
      width: 85%;
      padding: 0rem 1.7rem;
    }
    .arhn_info h1 {
      font-size: 1.4rem;
      left: 1rem;
      margin-left: 0;
    }
    .arhn_info p {
      font-size: 1rem;
      margin-left: 0;
      margin-right: 5px;
    }
    .arhn_slider {
      justify-content: center;
      padding-top: 2rem;
    }
    .arhn_slider img {
      width: 18rem;
      height: 14rem;
    }
    .arhn_camp img {
      width: 22rem;
      height: 14rem;
    }
    .arhn_lower {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    /**/
    .transparent-background-ted{
      width: 100%;
      height:700px;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      background-image: linear-gradient(to top, rgba(77, 93, 200, 0.5), rgba(0,0,0,0.5))
  }
  
    .img1{
      position: relative;
      width:120%;
      height:700px;
      
  }
    .img2{
      position: absolute;
      left:40px;
      top:340px;
      width:32%;
      height: auto;
  }
  .landing{
    height:200px;
    margin-bottom:480px;
  }
  .upper{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .info h1{
    font-weight:600;
    font-size:x-large;
  }
  .carousels h1{
    font-weight:600;
    font-size:30px;
  }
  .speakers h1{
    font-weight:600;
    font-size:30px;
  }
  .members h1{
    font-weight:600;
    font-size:30px;
  }
  .info p{
    padding:2px 0px 0px 2px;
    font-size: medium;
  }
  .slider img {
    width:18rem;
    height:14rem;
    border-radius:10px;
  }
  .carousels{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  .speakers{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
  }
  .members{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
  }
  .pic-ctn > img {
    position: absolute;
    width:300px;
    height:200px;
    left:20px;
    opacity:0;
    border-radius:20px;
  }
  .team{
    z-index: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  
  
  } 
  