.contain-style{
    height: 100%;
}

.carousel-boult{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.carousel-boult span{
    width: 45px;
    height: 12px;
    background-color: rgb(240, 144, 171);
    margin-left: 10px;
    border-radius: 10px;
    opacity: 0;
}

.transparent-background{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 998;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(77, 93, 200, 0.5), rgba(0,0,0,0.5))
}
