.contain-style{
    /* height: 100%; */
    width: 100%;
    height: 100;
}

.aevent-wrapper{
    position: relative;
    padding-bottom: 56.25125%;
    height: 0;
    max-height: 100vh;
  }

  .aevent-hero {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:#999;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    overflow:hidden;  
    animation: fader 20s ease  infinite; 
    
  }
  .aevent-hero:before{
    content:" ";
    position:absolute;
    width:100%;
    height:100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 90%,rgba(0,0,0,0.65) 100%);
    z-index:0;
  }


  @keyframes fader {
    0%,30%,100%{ background-image:url('https://live.staticflickr.com/65535/52777017494_c596d0d092_z.jpg')}
    33%,60% { background-image: url('https://live.staticflickr.com/65535/52777017524_df91386e0e_z.jpg'); }
    63%,97% { background-image: url('https://live.staticflickr.com/65535/52777017544_5595c4aa3d_w.jpg') }
  }


@media screen and (max-width: 500px) {
    .bgarhn {
      width: calc(50% - 2rem);
      height: 50%;
    }
  }
